/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, Montserrat, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  /* Set cursive and fantasy fonts */
  --cursive-font: "Apple Chancery", "URW Chancery L", cursive;
  --fantasy-font: Luminari, fantasy;

  /* Default (light) theme */
  --bg: #dfeeff;
  --accent-bg: #bdd7f4;
  --text: #131d2e;
  --text-light: #21314d;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #1bd82b;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #c6cbd1;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #21314d;
    --accent-bg: #30456b;
    --text: #dcdcdc;
    --text-light: #9fa5aa;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #1bd82b;
    --preformatted: #ccc;
    --disabled: #111;
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* Class to center elements */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Classes for stylized fonts */
.cursive {
  font-family: var(--cursive-font);
}

.fantasy {
  font-family: var(--fantasy-font);
}

/* Making the header sticky */
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Skip to Main Content link */
.skip {
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.skip:focus {
    position: static;
    width: auto;
    height: auto;
    opacity: 1;
}
