# Ignore everything in the images folder
images/*

# Ignore everything in the blog posts folder except the index and template
blog/*
!blog/index.php
!blog/blog_page_template.php

# Ignore the About Me page
about.php

# Ignore the hits page
hits
